.container {
  position: relative;
  /* max-width: 800px;
  padding: 200px 8px 8px 8px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.shape-1 {
  position: absolute;
  top: 81%;
  left: 20.5%;
  background-color: violet;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.shape-2 {
  position: absolute;
  top: -12%;
  left: 71%;
  background-color: yellow;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


@media(min-width:300px) and (max-width:480px) {
  .shape-1 {
    top: 88%;
    left: 11.5%;
    height: 75px;
    width: 75px;
  }

  .shape-2 {
    top: -12%;
    left: 67%;
    height: 90px;
    width: 90px;
  }
}